@use '@/styles/mixins';
.relative_wrapper {
    position: relative;
    z-index: 1;
}

.shape {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacer);
}
.logo {
    position: relative;
    aspect-ratio: 5;
    height: 30%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: var(--small-spacer);
    z-index: 10000;

    @include mixins.phone {
        position: absolute;
        flex-direction: column;
        top: var(--navbar-height);
        top: 100%;
        right: -100%;
        width: 100%;
        height: calc(100vh - var(--navbar-height));
        background-color: var(--light-background);
        transition: right 0.4s ease-out;
        text-align: center;
        gap: 0;

        > a {
            width: 100%;
            padding: var(--spacer);
        }

        > a:hover {
            background-color: var(--primary);
        }
    }
}

.links.active {
    right: 0;
}



.hamburger {
    display: none;
    border: none;
    font-size: 2rem;
    @include mixins.phone {
        display: flex;
    }
}
