.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacer);
}

.links {
    display: flex;
    flex-direction: row;
    gap: var(--small-spacer);
}
