.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    position: relative;
    padding: var(--large-spacer);
    gap: var(--medium-spacer);

    .img_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: -1;
    }

    .welcome {
        flex-grow: 1;
        height: 100%;
        border-radius: var(--b-radius);
        border: solid 2px var(--light-background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: var(--spacer);

        > h1 {
            color: var(--text-light);
        }
    }
    .vert_links {
        display: flex;
        flex-direction: column;
        gap: var(--medium-spacer);
        height: 100%;
        width: 40%;
    }
    .large_link {
        height: 100%;
        width: 100%;
        border-radius: var(--b-radius);
        border: solid 2px var(--light-background);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: var(--spacer);
        color: var(--text-light);
        background-color: var(--dark-background-t);

        > h3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--tiny-spacer);

        }
    }

    .large_link:hover {
        transform: scale(1.01);
    }
}